apiVersion: v1
kind: ConfigMap
metadata:
  name: context
data:
  sdcApiServerImage: ghcr.io/sdcio/sdc-apiserver:${CONFIG_VERSION}
  sdcControllerImage: ghcr.io/sdcio/sdc-controller:${CONFIG_VERSION}
  dataServerImage: ghcr.io/sdcio/data-server:${DATA_VERSION}
