apiVersion: v1
kind: ConfigMap
metadata:
  name: context
data: 
  configServerImage: registry.k8s.sdcio.dev/sdcio/config-server:${CONFIG_VERSION}
  dataServerImage: registry.k8s.sdcio.dev/sdcio/data-server:${DATA_VERSION}
